
h1 {
    margin: 0;
    letter-spacing: 0.25em;
    z-index: 2;
}

h2 {
    font-size: 2em;
    margin: 0px 20px;
    padding: 80px 0 0 0; /* offset heading from covering link area*/
}

h3 {
    font-size: 1.25em;
    text-align: left;
    margin: 0;
}
h4 {
    margin: 0; /* Removes spacing between headings */
    font-weight: 500;
}

h5 {
    margin: 10px 0 5px 0; /* Removes spacing between headings */
}

h6 {
    margin: 0; /* Removes spacing between headings */
    font-size: 1em;
    text-decoration: underline;
    font-weight: 600;
}

header {
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    background-color: black;
    width: 100%;
    z-index: 100;
    height: 80px;
}

body {
    margin: 0;
    font-family: 'Roboto Mono';
    background-color: black;
    color: white;
}

header img{
    padding: 10px 20px;
}

nav{
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 0 50px 0 0px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
nav li{
    margin: 5px 50px 10px 5px;
    list-style-type: none;

}
a{
    color: white;
}

a:hover {
    text-decoration: none;
    color:#666;
}

audio {
    margin: 15px;
}
aside {
    text-align: center;
}
.socials {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

#intro #intro-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 150px 0 0 50px;
    color: white;
    width: 40%;
}

#intro blockquote {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    z-index: 2;
}

.back-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: black;
}
 
.back-video video{
    width: 100%;
    height: 100%;
    opacity: 75%;
}
#about-me {
    margin: 20px;
}

#about-me h2 {
    margin: 0 0 20px 0px;
}


#about-me-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid;
    margin: 10px 0 0 0;
}

#about-me-container img {
    flex-grow: 1;
    margin: 20px 20px;
    border-radius: 500px;
}
#about-me-container figcaption {
    margin: 0 0 0 20px;
}
#about-me-container p{
    margin: 20px 20px;
    flex-grow: 1;
}


#skills ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 20px;
    justify-content: space-evenly;
}

#skills li {
    background-color: #666;
    padding: 15px;
    margin: 15px;
    border-radius: 30px 30px 30px 30px;
}
#education-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 20px 20px;
}
.education {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "l l l h h h"
                         "s s s s . ."
                         "t t t t . ."
                         "b b b b b b"
                         "a a a a a a"
                         "c c c c . .";
    grid-auto-rows: max-content;
    border: solid;
    border-color: white;
    padding: 20px;
}

.education#dominican .logo {
    grid-area: l;
    background-image: url("DULogo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.education#UBC .logo {
    grid-area: l;
    background-image: url("ubc.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.education#langara .logo {
    grid-area: l;
    background-image: url("Langara.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.education h3 {
    grid-area: h;
    padding: 30px 0;
}
.education h4 {
    grid-area: s;
}
.education h5 {
    grid-area: t;
}
.education p {
    grid-area: b;
    margin: 0;
}
.education audio {
    grid-area: a;
}
.education .courses {
    grid-area: c;
}

#work-experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 20px;

}
.experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "l l l p p p"
                         "c c c c c ."
                         "d d d d . ."
                         "r r r r r r";
    grid-gap: 1rem;
    grid-auto-rows: max-content;
    border: solid;
    border-color: white;
    padding: 20px 20px;
}

.experience#devdegree .logo {
    grid-area: l;
    background-image: url("devdegreelogo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

}
.experience#cfc .logo {
    grid-area: l;
    background-image: url("cityofrichmond-logo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

}
.experience#ydc .logo {
    grid-area: l;
    background-image: url("c4logo.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

}

.experience h3 {
    grid-area: p;
    padding: 30px 0;
}

.experience#devdegree h3 {
    font-size: 1.5em;
}

.experience h4 {
    grid-area: c;
}
.experience h5 {
    grid-area: d;
}
.experience .responsibilities {
    grid-area: r;
}
.experience ul {
    padding: 10px;
}
.socials img {
    border-radius: 500px;
}

.socials div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}